.switch {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 35px;
}

.switch_input {
	width: 0;
	height: 0;
	opacity: 0;
}

.switch_slider {
	background: #ef7f1a;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 34px;
	transition: 0.4s;
}

.switch_slider::before {
	content: '';
	background: white;
	position: absolute;
	cursor: pointer;
	left: 4px;
	bottom: 4px;
	height: 26px;
	width: 26px;
	border-radius: 50%;
	transition: 0.4s;
}

.switch_input:focus + .switch_slider {
	box-shadow: 0 0 1px black;
}

.switch_input:checked + .switch_slider {
	background: #56698f;
}

.switch_input:checked + .switch_slider::before {
	transform: translateX(26px);
}
